*,
*:before,
*:after {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-weight: 400;
}

body {
    margin: 0px;
}

.hero {
    background: url('assets/img-background-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}


/* Nav Bar - Mobile */
nav {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 300px;
}

.simpleSite-logo {
    height: 40px;
}

.nav-links-middle {
    display: none;
}

.nav-links-right {
    display: flex;
}

.button-log-in {
    display: none;
}

.menu-icon {
    height: 24px;
    margin: 0px 16px;
}

.language-icon {
    height: 25px;
    margin: 0px 16px;
}

.language {
    display: none;
}


/* Hero Copy - Mobile */
.hero-copy {
    display: flex;
    flex-direction: column;}

.hero-copy h1 {
    transition: all 1s ease-in-out;
    color: white;
    text-align: center;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 1.7px;
    margin-bottom: 0px;
}

.hero-copy h1 span {
    font-weight: 100;
    display: block;}

.hero-copy h2 {
    transition: all 1s ease-in-out;
     color: white;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 1px;
    margin: 16px 0px 40px 0px;
}

.button-start-here {
    border: solid 1px #fff;
    background-image: linear-gradient(to right, #a51300, #bb1600);
    box-shadow: 0px 4px 16px 1px rgba(0, 0, 0, 0.3);
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    text-align: center;
    height: 48px;
    width: 200px;
    border-radius: 100px;
    margin: 0px auto 40px;
}

.button-start-here:hover {
    background-image: linear-gradient(to right, #ca210a, #ca210a);
    cursor: pointer;
}


/* Themes Section */
.section-themes {
    padding: 104px 24px;
    display: flex;
    flex-direction: column;
}

h2 {
    text-transform: uppercase;
    margin: 0px auto 8px;
}

.themes-header-underline {
    background-color: #ca210a;
    width: 80px;
    height: 4px;
    margin: 0px auto 24px;
}

p {
    font-weight: 100;
    width: 80%;
    text-align: center;
    margin: 0px auto 40px;
}

.image-slider {
    background-color: lightgray;
    width: 90%;
    margin: 0px auto;
}

.pagination {
    display: flex;
    margin: 0px auto;
    cursor: pointer;
}

.pagination-circle {
    width: 12px;
    height: 12px;
    margin: 8px 4px;
    border-radius: 24px;
    background-color: #999;
}

.pagination-circle-selected {
    width: 12px;
    height: 12px;
    margin: 8px 4px;
    border-radius: 50%;
    background-color: #ddd;
}


/* Why SimpleSite Section */
.why-simplesite-section {
    background-color: #f6f7f9;
    padding: 104px 24px;
    display: flex;
    flex-direction: column;
}

.img-whysimplesite {
    width: 90%;
    margin: 0px auto;
}


/* Edit on the Go Section */
.edit-on-go-section {
    padding: 104px 24px;
    display: flex;
    flex-direction: column;
}

h3 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 1.3px;
    margin: 0px auto 8px;
}

.img-my-travel-blog {
    width: 90%;
    margin: 0px auto;
}


/* Features Section */
.features-section {
    padding: 104px 24px;
    background-color: #f6f7f9;
    display: flex;
    flex-direction: column;
}

.feature {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.illustration-features {
    width: 120px;
    margin: 0px auto 32px;
}

h4 {
    font-size: 20px;
    margin: 0px auto 16px;
}


/* Tablet View */
@media screen and (min-width: 640px) {    
    .hero-copy h1 {
        font-size: 55px;
        line-height: 64px;
        margin-bottom: 0px;
        transition: all 1s ease-in-out;
    }

    .hero-copy h2 {
        font-size: 28px;
        margin-bottom: 64px;
        transition: all .5s ease-in-out;
    }
}


/* Desktop View */
@media screen and (min-width: 1200px) {
    .nav-links-left {
        display: flex;
        align-items: center;
    }

    .nav-links-middle {
        display: flex;
        list-style: none;
        color: white;
        font-size: 16px;
    }

   .nav-links-middle li {
        margin-left: 24px;
    }

    .nav-links-middle li:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .nav-links-right {
        align-items: center;
    }

    .button-log-in {
        display: block;
        border: solid 1px #fff;
        background-color: transparent;
        color: white;
        text-transform: uppercase;
        letter-spacing: 1.3px;
        line-height: 40px;
        text-align: center;
        height: 40px;
        padding: 0px 20px;
        border-radius: 100px;
        margin: 0px 16px;
    }

    .button-log-in:hover {
        background-color: white;
        color: #ca210a;
        cursor: pointer;
    }

    .menu-icon {
        display: none;
    }

    .language-picker {
        display: flex;
        align-items: center;
    }

    .language-picker:hover {
        background: #ca210a;
        border-radius: 32px;
        cursor: pointer;
    }

    .language-icon {
        margin: 0px 8px 0px 16px;
    }

    .language {
        display: inline;
        color: white;
        font-size: 16px;
        font-weight: 100;
        margin-right: 16px;
    }
}